@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@font-face {
	font-family: warzone97;
	src: url('/fonts/warzone97.ttf');
}

@font-face {
	font-family: OriginTechDemoRegular;
	src: url('/fonts/origintech.ttf');
}

/* import Zone99 from ttf */

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html,
body {
	max-width: 100vw;
	overflow-x: hidden;
}

@layer base {
	body {
		@apply font-inter;
	}

	* {
		@apply font-inter;
		color: #ececec;
	}
}
