.stack {
	display: grid;
	grid-template-columns: 1fr;
	--stacks: 3;
	line-height: 1.15;
	font-size: 5em;
	color: #ffffffd0;
	font-weight: bolder;
	text-align: center;
	word-spacing: -15px;
}

#stack0 {
	--index: 0;
}

#stack1 {
	--index: 1;
}

#stack2 {
	--index: 2;
}

.stack ul {
	grid-row-start: 1;
	grid-column-start: 1;
	font-size: 3rem;
	--stack-height: calc(100% / var(--stacks) - 1px);
	--inverse-index: calc(calc(var(--stacks) - 1) - var(--index));
	--clip-top: calc(var(--stack-height) * var(--index));
	--clip-bottom: calc(var(--stack-height) * var(--inverse-index));
	clip-path: inset(var(--clip-top) 0 var(--clip-bottom) 0);
	animation: stack 340ms cubic-bezier(0.46, 0.29, 0, 1.24) 1 backwards calc(var(--index) * 120ms),
		glitch 2s ease infinite 2s alternate-reverse;
}

.stack ul:nth-child(odd) {
	--glitch-translate: 8px;
}

.stack ul:nth-child(even) {
	--glitch-translate: -8px;
}

@keyframes stack {
	0% {
		opacity: 0;
		transform: translateX(-50%);
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
	}

	60% {
		opacity: 0.5;
		transform: translateX(50%);
	}

	80% {
		transform: none;
		opacity: 1;
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}

	100% {
		text-shadow: none;
	}
}

@keyframes glitch {
	0% {
		text-shadow: -2px 3px 0 red, 2px -3px 0 blue;
		transform: translate(var(--glitch-translate));
	}

	2% {
		text-shadow: 2px -3px 0 red, -2px 3px 0 blue;
	}

	4%,
	100% {
		text-shadow: none;
		transform: none;
	}
}

.animate {
	animation: countdown-animation 0.75s ease-in forwards;
}

@keyframes countdown-animation {
	0% {
		opacity: 0;
		content: '0';
	}

	100% {
		opacity: 1;
	}
}

ul.countdown {
	/* width: calc(50vw - 20px); */
	padding: 15px 0 20px 0;
	margin-top: 1rem;
/* 	color: #fff;
 */	/* overflow: hidden; */
	font-weight: bolder;
	color: #ffffffd0;

	display: flex;
	justify-content: center;
	align-items: center;
}

ul.countdown li {
	width: 8rem;
	height: 8rem;
	aspect-ratio: 1/1 !important;

	margin: 0 0;
	/* padding: 0;
	display: inline-block; */
	padding: 1rem;
	font-size: 3rem;
	text-align: center;
	font-weight: bolder;
	color: #c4c4c4;

	display: flex;
	justify-content: center;
	align-items: center;
}

ul.countdown .label {
	display: none;
	color: #adafb2;
	font-size: 1.5rem;
	text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
	/* ul.countdown {
		width: calc(75vw - 25px);
	} */

	ul.countdown li {
		font-size: 2.5rem;
		width: 6.5rem;
		height: 6.5rem;
		aspect-ratio: 1/1 !important;
	}
}

@media screen and (max-width: 768px) {
	/* ul.countdown {
		width: calc(100vw - 25px);
	} */

	ul.countdown li {
		font-size: 2rem;
		width: 6rem;
		height: 6rem;
		aspect-ratio: 1/1 !important;
	}
}

@media screen and (max-width: 480px) {
	/* ul.countdown {
		width: calc(100vw - 25px);
	} */

	ul.countdown li {
		font-size: 1.5rem;
		width: 5.5rem;
		height: 5.5rem;
		aspect-ratio: 1/1 !important;
	}

	ul.countdown .label {
		font-size: 1rem;
	}
}

@media screen and (max-width: 410px) {
	ul.countdown {
		display: grid;
		/* 2x2 */
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 1fr 1fr;
		gap: 16px;
	}

	ul.countdown li {
		width: 100%;
	}
}
